<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
         <script src="https://cdn.tailwindcss.com"></script>
    <title>Read</title>
</head>
<body>
   <div class="w-full h-full bg-zinc-900 p-10 text-white">
       <div class="nav mb-5">
        <a href="/" class="px-5 py-2 ml-3 text-blue-300 bg-transparent">Back To Create Users</a>
    </div>
    <h1 class="text-3xl tracking-tighter mb-5">All User</h1>
   <div class="users flex flex-wrap gap-5 ">
    <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
        <div class="img w-full h-52 rounded-lg bg-red-400">

        </div>
        <h3 class="text-xl mt-3 tracking-tighter">name</h3>
        <h5 class=" text-zinc-500">email</h5>
        <div class="buttons mt-3 flex gap-3">
            <button class="px-5 py-2 rounded-lg border-2 bg-blue-500 bg-transparent">Edit</button>
            <button class="px-5 py-2 ml-3 rounded-lg border-2 bg-red-500 bg-transparent">Delete</button>
        </div>
   </div>
   </div>
    
</body>
</html>